# SERVERLESS CONFIG
NODE_ENV=production_or_development
VPC_SECURITY_GROUP_IDS=toBeModified1,toBeModified2
VPC_SUBNET_IDS=toBeModified1,toBeModified2
API_GATEWAY_BINARY_MEDIA_TYPES=toBeModified1,toBeModified2
LAMBDA_REGION=tobemodified

# STRAPI CONFIG
HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

# DATABASE CONFIG
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified

# STORAGE CONFIG
AWS_BUCKET_NAME=tobemodified
AWS_BUCKET_REGION=tobemodified
AWS_BUCKET_ACCESS_KEY_ID=tobemodified
AWS_BUCKET_ACCESS_SECRET=tobemodified


